.paper {
  width: 60vw !important;
  margin: 10vh auto;
}
.card {
  display: flex;
}
.box {
  display: flex;
  flex-direction: column;
}
.header {
  margin: 10px;
}

.button {
  margin: 20px 20px 5px 20px !important;
}
.action {
  display: flex !important;
  flex-direction: column;
}
.toggle,
.forgot {
  background-color: white;
  color: black;
  border-radius: 0;
  border: 0;
  cursor: pointer;
}
.forgot {
  margin-bottom: 10px;
}
.img {
  width: 40% !important;
  object-fit: fill;
}
@media screen and (max-width: 800px) {
  .paper {
    width: 100vw !important;
    margin: 10vh auto !important;
  }
  .card {
    display: flex;
    flex-direction: column-reverse;
  }
  .box {
    display: flex;
    flex-direction: column;
  }
  .img {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .paper {
    width: 100% !important;
    margin: 10vh auto !important;
    padding: 0;
  }
  .box {
    flex-direction: row;
  }
  .img {
    display: none;
  }
}
